/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
 */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Nunito&family=Playfair+Display&display=swap");

body {
  font-family: "Comfortaa", sans-serif;
}

.title {
  font-family: "Playfair Display", serif;
}

.subtitle {
  font-family: "Nunito", sans-serif;
}

.project-cards {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-cards:hover {
  transform: scale(1.05);
}

.download-btn {
  transition: all 0.3s ease;
}

.download-btn:hover {
  background-color: #e0a800;
  transform: scale(1.01);
  box-shadow: 0 5px 15px rgba(253, 196, 53, 0.4);
}

.download-btn:active {
  transform: scale(1.01);
  box-shadow: none;
}

.linkedin-btn {
  transition: all 0.3s ease;
}

.linkedin-btn:hover {
  background-color: #e0a800;
  transform: scale(1.01);
  box-shadow: 0 5px 15px rgba(253, 196, 53, 0.4);
}

.linkedin-btn:active {
  box-shadow: none;
  transform: scale(1.01);
}

.view-btn {
  background-color: #ffff;
  color: #000;
  border: 2px solid #000;
  transition: all 0.3s ease;
}

.view-btn:hover {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.fade-enter {
  opacity: 0;
  transform: scale(0.95);
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.fade-exit {
  opacity: 1;
  transform: scale(1);
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.modal-backdrop.show {
  opacity: 0.5;
}

.hover-link {
  color: #fdd835;
  transition: color 0.3s ease;
  text-decoration: none;
}

.hover-link .icon-hover {
  color: #fdd835;
  transition: color 0.3s ease;
}

.hover-link:hover {
  color: #c28700;
  text-decoration: underline;
}

.hover-link:hover .icon-hover {
  color: #c28700;
}
